<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Anson's Blog</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-push-3">
                    <a href="/" class="main-title">
                        Anson's Blog
                    </a>
                </div>
                <div class="col-xs-3 col-xs-push-4">
                    {% if not user_id %}
                        <a href="/login" role="button" class="btn btn-info btn-title">Login</a>
                        <a href="/signup" role="button" class="btn btn-default btn-title">Signup</a>
                    {% else %}
                        <a href="/newpost" role="button" class="btn btn-info btn-title">New Post</a>
                        <a href="/logout" role="button" class="btn btn-default btn-title">Logout</a>
                    {% endif %}
                </div>

            </div>
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>